MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/?appName=Cluster0
PORT=5001
PASSWORD=<mongo_password>
JWT_SECRET=<random_hex_secret>
CORS_ORIGIN=http://localhost:5173
RIOT_API_KEY=RGAPI-<your_key>
